@use '../../../style/index' as *;

//---------------------------------------------------------------------------------------------------------------------------------------------

header {
    background-color: $white;
    flex: 0 0 80px;
    position: fixed;
    z-index: 11;
    height: 45px;
    top: 0;
    width: 100%;
    transition: all ease-in-out 0.3s;
    box-shadow: $box-shadow;

    .container {
        .h-navbar {
            @include display-flex();
            @include justify-content(space-between);
            padding: 5px 10px;

            //-----------------
            .logo {
                cursor: pointer;

                img {
                    width: calc($size *8);
                }
            }

            //-----------------
            .pipeline-data {
                @include display-flex();
                .dashboard {
                    @include display-flex();
                    .data {
                        margin: 0 10px;
                        * {
                            font-weight: bolder;
                        }
                        .d-title {
                            color: $primary;
                        }

                        .d-value {
                            color: $primary-dark;
                        }
                    }
                }

                .user {
                    .u-profile-pic {
                        width: calc($size*4);
                        height: calc($size*4);

                    }
                }
            }
        }
    }
}

.changeOnScroll {
    position: fixed;
    top: -70px;
    width: 100%;
}