<section class="deals">

    <div class="container">

        <div class="header">
            <h3>Deals</h3>

          <form [formGroup]="search_fg">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput formControlName="search_fc" >
                <button mat-icon-button matPrefix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field> 
          </form>
        

        </div>
        <div class="stage-container">

            <div cdkDropListGroup class="row">

                <div class="stage col-xsmall-12 col-small-4 col-medium-3 col-large-2">
                    <p class="stage-name">Potential Value</p>
                    <div cdkDropList [cdkDropListData]="potentialValue" class="deal-list"
                        (cdkDropListDropped)="drop($event)">

                        <ng-container *ngIf="isloading">
                            <mat-spinner [diameter]="50" style="margin:50px auto;"></mat-spinner>
                        </ng-container>
                        <div class="deal-box" *ngFor="let deal of potentialValue" cdkDrag>

                            <deals-card [deal]="deal"></deals-card>
                        </div>
                    </div>
                </div>

                <div class="stage col-xsmall-12 col-small-4 col-medium-3 col-large-2">
                    <p class="stage-name"> Focus</p>
                    <div cdkDropList [cdkDropListData]="focus" class="deal-list" (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="isloading">
                            <mat-spinner [diameter]="50" style="margin:50px auto;"></mat-spinner>
                        </ng-container>
                        <div class="deal-box" *ngFor="let deal of focus" cdkDrag>
                            <deals-card [deal]="deal"></deals-card>

                        </div>
                    </div>
                </div>
                <!-- ---------------------------------- -->
                <div class="stage col-xsmall-12 col-small-4 col-medium-3 col-large-2">
                    <p class="stage-name"> Contact Made</p>

                    <div cdkDropList [cdkDropListData]="contactMade" class="deal-list"
                        (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="isloading">
                            <mat-spinner [diameter]="50" style="margin:50px auto;"></mat-spinner>
                        </ng-container>
                        <div class="deal-box" *ngFor="let deal of contactMade" cdkDrag>
                            <deals-card [deal]="deal"></deals-card>

                        </div>
                    </div>
                </div>
                <!-- ---------------------------------- -->
                <div class="stage col-xsmall-12 col-small-4 col-medium-3 col-large-2">
                    <p class="stage-name"> Offer Sent</p>
                    <div cdkDropList [cdkDropListData]="offerSent" class="deal-list"
                        (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="isloading">
                            <mat-spinner [diameter]="50" style="margin:50px auto;"></mat-spinner>
                        </ng-container>
                        <div class="deal-box" *ngFor="let deal of offerSent" cdkDrag>
                            <deals-card [deal]="deal"></deals-card>

                        </div>
                    </div>
                </div>

                <!-- ---------------------------------- -->
                <div class="stage col-xsmall-12 col-small-4 col-medium-3 col-large-2">
                    <p class="stage-name"> Getting Ready</p>

                    <div cdkDropList [cdkDropListData]="gettingReady" class="deal-list"
                        (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="isloading">
                            <mat-spinner [diameter]="50" style="margin:50px auto;"></mat-spinner>
                        </ng-container>
                        <div class="deal-box" *ngFor="let deal of gettingReady" cdkDrag>
                            <deals-card [deal]="deal"></deals-card>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>