<section class="pipeline">
    <div class="container">
        <!----------------------------------------->
        <section class="major-tabs">
            <h1>MAJOR TABS</h1>
         <pipeline-major-tabs></pipeline-major-tabs>
        </section>
        <!----------------------------------------->
        <section class="minor-tabs">
            <h1>Minor TABS</h1>
        </section>
        <!----------------------------------------->
        <section class="pipeline-router">
            <h1>Routing</h1>
                <router-outlet></router-outlet>
        </section>
    </div>
</section>