<section class="pipeline">
    <div class="container">
        <!----------------------------------------->
        <section class="major-tabs">
         <pipeline-major-tabs></pipeline-major-tabs>
        </section>
        <!----------------------------------------->
        <!-- <section class="minor-tabs">
            <h1>Minor TABS</h1>
        </section> -->
        <!----------------------------------------->
        <section class="pipeline-router">
                <router-outlet></router-outlet>
        </section>
    </div>
</section>