
$primary: #9ca9b7;
$primary-dark: #2c374c;
$primary-lite: #f5f7fa;
//------------------------------------
$blue: #3483e3;
$blue-dark: #233ba3;
//------------------------------------
$success: #d8f5db;
$success-dark: #50af56;
//------------------------------------
$warn:#fff2f4;
$warn-dark:#e62766;